[importlinter]
root_package = app
include_external_packages = True

[importlinter:contract:my-layers-contract]
name = My three-tier layers contract
type = layers
layers=
    app.app
    app.presentation
    app.domain
    app.data
